.PhotosCarousel{
    margin:0 auto;
}

.PhotosCarousel .LinhadeFotos{
    margin: 0px 150px 0px 150px;
    display: flex;
}

.PhotosCarousel .foto{
    margin: 20px;
}

.PhotosCarousel .arrow{
    width: 69px;
    height: 69px;
    background-color: #77B81E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PhotosCarousel .carousel-control-prev,
.PhotosCarousel .carousel-control-next{
    opacity: 100;
}

@media (max-width: 800px){

    .PhotosCarousel {
        display: none;
    }

}
