.PhotosCarousel{
    margin:0 auto;
}

.PhotosCarousel .LinhadeFotos{
    margin: 0px 100px 0px 100px;
    display: flex;
}

.PhotosCarousel .foto{
    margin: 20px;
}

.PhotosCarousel .ArrowBox{
    width: 40px;
    height: 40px;
    background-color: #77B81E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PhotosCarousel .ArrowBox img{
    width: 15px;
}


.PhotosCarousel .carousel-control-prev,
.PhotosCarousel .carousel-control-next{
    opacity: 100;
}

.PhotosCarousel .carousel-control-prev{
    margin-right: 10px;
}

.PhotosCarousel .carousel-control-next{
    margin-left: 10px;
}


/* @media(min-width: 1000px){
    .PhotosCarousel .carousel-control-prev{
        margin-right: 15px;
    }
    
    .PhotosCarousel .carousel-control-next{
        margin-left: 15px;
    }
    
}

@media(min-width: 1200px){
    .PhotosCarousel .carousel-control-prev{
        margin-right: 20px;
    }
    
    .PhotosCarousel .carousel-control-next{
        margin-left: 100px;
    }
    
} */