.fundo{
    background: #77B81E;
}
.fundo2{
    margin-right:10%;
}
.titulo_form1{
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
    color: black;
    font-weight: bold;
    opacity: 1;
}
.titulo_form2{
    color: #FFFFFF;
    text-align: left;
    font: Bold 26px/43px Roboto Slab;
    letter-spacing: 0;
    opacity: 1;
}
.botao2{
    text-align: center;
    font: Bold 16px/21px Roboto Slab;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    background: #FFFFFF;
    width : 30%;
}
