.TabelaCooperados thead{
    background-color: #EDEDED;
}

.TabelaCooperados tbody{
    background-color: #FFFFFF; 
}

.TabelaCooperados td{
    border-top: solid 1px #707070;
    border-radius: solid 1px #707070;
}

.TabelaCooperados th{
    border-top: solid 1px #707070;
    border-radius: solid 1px #707070;
}

.TabelaCooperados table{
    border: solid 1px #707070;
}

.circulo1{
    border-radius:100%;
    border:1px solid #DA304C;
    width:19px;
    height:19px;
    background-color:#DA304C;
}

.circulo2{
    border-radius:100%;
    border:1px solid #46A46C;
    width:19px;
    height:19px;
    background-color:#46A46C;
}

