.Toolbar {
    position: fixed;
    top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    box-sizing: border-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 90;
}

.Toolbar nav{
    height: 100%;
}

@media (max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}