.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #1A2D00;
}

.NavigationItem a{
    /* color: #006600; */
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
     /* color: blue; */
}

@media (min-width: 500px){
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a{
        /* color: white; */
        height: 100%;
        padding: 16px 10px;
        /* border-bottom: 4px solid transparent; */
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        /* background-color: #006600; */
        /* border-bottom: 4px solid rgb(10, 10, 10); */
        /* border-bottom: 4px solid rgb(119, 3, 3); */
        /* color: white; */
    }
}