.home{
    margin-top: 40px;
}
.texto1{
    text-align: left;
    font-size: 18px;
    font-family: Poppins;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    margin-top: 30px;
}
.fundo_cinza{
    text-align: left;
    letter-spacing: 0;
    color: #707070; 
    opacity: 1;
    background: #EDEDED;
}
.bloco4{
    font-size: 18px Poppins;
    margin-right: 50px;
    text-align: left;
}
.card{
    margin-top: 15px;
}
.Pnae a{
    text-decoration: underline;
    color: #707070;
}
