.Home{
    top: 20px;
    left: 0px;
    width: 1350px;
    height: 128px;
    background: #77B81E 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    font: Bold 38px/50px Roboto Slab;
    letter-spacing: 0;
    color: #1A2D00;
}
#img2{
    height: 200px;
    float: left;
    margin-left: -80px;
}

.bloco1{
    top: 820px;
    margin-right: 50px;
    left: 839px;
    width: 753px;
    height: 91px;
    text-align: left;
    font: Bold 28px/38px Roboto Slab;
    letter-spacing: 0;
    color: #77B81E;
    opacity: 1;
    float: right;
}
.bloco2{
    float: right;
    top: 961px;
    left: 840px;
    width: 803px;
    height: 300px;
    text-align: left;
    font: 18px Poppins;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}
.botao1{
    background-color: #77B81E;
    float: center;
}
.bloco3{
    top: 1559px;
    left: 0px;
    width: 1920px;
    height: 903px;
    background: #EDEDED 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 18px Poppins;
}