.Home{
    margin-top: 80px;
}
@media (max-width: 800px){
    .Home{
        margin-top: 60px;
    }
}
.img2{
    height: 150px;
    margin-left: -50px;
    position: absolute;
    margin-top: 250px;
}
.bloco1{
    text-align: left;
    font: 18px Poppins;
    color: #707070;
}
.botao1{
    background-color: #77B81E;
    border: #77B81E;
    float: center;
    font: 20px Roboto Slab;
    width: 170px;
    cursor: pointer;
    
}
.titulo2{
    color: #77B81E;
    text-align: center;
    font: Bold 32px/43px Roboto Slab;
    margin-top: 4%;
}
.album{
    background-color: #EDEDED;
    margin-top: 60px;
    /* margin-bottom: 60px; */
}
.bloco2{
    background-color: #EDEDED;
    text-align: center;
}
.bloco3{
    font: Regular 18px/28px Poppins;
    text-align: center;
    height: 500px;
}

.bloco3 h5{
    font: Bold 20px/26px Roboto Slab;
    color: #77B81E;
}

.bloco3:hover{
    background-color:  #77B81E;
    color: white;
}
.titulo3{
    color :  #77B81E;
    font: Bold 30px/40px Roboto Slab;
    opacity: 1;
}
