.Home{
    top: 20px;
    left: 0px;
    height: 128px;
}
.titulo{
    opacity: 1;
    text-align: center;
    font: Bold 38px/50px Roboto Slab;
    letter-spacing: 0;
    color: #1A2D00;
    background: #77B81E 0% 0% no-repeat padding-box;
}
#img2{
    height: 150px;
    float: left;
    margin-left: -150px;
    margin-top: 150px;
}
.bloco1{
    text-align: left;
    font: 20px Poppins;
    color: #707070;
}
.botao1{
    background-color: #77B81E;
    border: #77B81E;
    float: center;
    font: 22px Poppins;
    width: 170px;
}
.titulo2{
    color: #77B81E;
    text-align: center;
    background-color: #EDEDED;
    font: BOLD 32px Poppins;
}
.bloco2{
    background-color: #EDEDED;
    text-align: center;
}
.bloco3{
    /* background: #EDEDED 0% 0% no-repeat padding-box; */
    font-size: 18px Poppins;
    text-align: center;
    margin-right: 50px;
}