.Planapo{
    margin-top: 120px;
}
.planos{
    color: #FFFFFF;
    font: Bold 26px/43px Roboto Slab;
    letter-spacing: 0;
    opacity: 1;
    background-color: #77B81E;
    text-align: center;
}
.Planapo a{
    text-decoration: underline;
    color: #707070;
}