.Planapo{
    margin-top: 120px;
}
.planosCinza{
    margin-top: 50px;
    background-color: #DEDEDE ;
    margin: auto;
}
.planos{
    color: #FFFFFF;
    font: Bold 26px/43px Roboto Slab;
    letter-spacing: 0; 
    opacity: 1;
    background-color: #77B81E;
    text-align: center;
    margin-top: 50px;
    height: 80px;
    vertical-align: middle;
}
.Planapo a{
    text-decoration: underline;
    color: #707070;
}
.card{
    margin-bottom: 50px;
}