.NavigationItems {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -70px;
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 49px;
    background-color: white;
}

@media (min-width: 500px){
    .NavigationItems {
        flex-flow: row;
    }
}